<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center"><em>Add a New Site</em></h1>
  <div class="col-md-6 offset-md-3">
    <form action="/sites" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="site[title]" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="site[location]" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price-label">Price</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="price-label">$</span>
        <input type="text" class="form-control" id="price-label" name="site[price]" placeholder="0.00" aria-label="Username" aria-describedby="price-label" required>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="site[description]" required></textarea>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>

      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload Images</label>
        <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>
        <div class="invalid-feedback">
            A site would look even better or clear by adding image(s).
        </div>
    </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Site</button>
      </div>
    </form>
  </div>
</div>

